<!--<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre: {{categoria.nombre}}</h5>
    <p class="card-text">ID: {{categoria.id}}</p>
  </div>
</div>-->