<div class="container-fluid m-0" style="height: 100vh">
    <div class="row justify-content-center align-items-center">
        <div class="col-6 bg-light">
            <form method="post" action="/usuarios/registro">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" 
                        placeholder="Ingrese su username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="pass"
                        placeholder="Ingrese su password">
                    </div>        
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email"
                        placeholder="Ingrese su correo electrónico">
                    </div>              
                    <button type="submit" class="btn btn-info">Registrate!</button>
            </form>
        </div>
    </div>
</div>  