<div class="container-fluid bg-dark">
        <div class="row justify-content-center align-items-center" style="height: 100vh">          
                <div class="col-7">
                    <form method="post" action="/productos/create">
                    <div class="form-group mt-4">                       
                        <input type="text" class="form-control" name="nombre" 
                        placeholder="Ingrese el nombre del producto">
                    </div>
                    <div class="form-group mt-4">
                        <input type="number" class="form-control" name="id_categoria"
                        placeholder="Ingrese el id_categoria">
                    </div>                          
                    <button type="submit" class="btn btn-primary mt-4">AGREGAR PRODUCTO</button>
            </form>
                </div>        
        </div>

</div>  