<!--
<div class="container-fluid" style="height: 100vh">
    <div class="row justify-content-center align-items-center">
        <div class="col-6 bg-light">
            <form method="post" action="/registro/create">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" 
                        placeholder="Ingrese su nombre">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Password</label>
                        <input type="password" class="form-control" name="pass"
                        placeholder="Ingrese su password">
                    </div>        
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" name="email"
                        placeholder="Ingrese su email">
                    </div>              
                    <button type="submit" class="btn btn-primary">Registrate!</button>
            </form>
        </div>
    </div>
</div>  -->
